data/
node_modules/
output/
.DS_Store

# Allow specific directories and their contents
!data/cultexec/
!data/cultexec/**
!data/aside/
!data/aside/**
!output/cultexec_whitelists/
!output/cultexec_whitelists/**

